{{- define "title" }}{{ T .Data.Plural }} - {{ .Site.Title }}{{ end -}}

{{- define "content" -}}
  {{ $name := .Data.Plural -}}
  {{ $terms := .Data.Terms.ByCount -}}
  {{ $length := len $terms -}}
  {{ if eq $name "categories" -}}
    <div class="terms">
      <div class="terms-title">
        {{ if eq $length 0 -}}
          {{ T "zeroCategoryCounter" }}
        {{- else -}}
          {{ T "categoryCounter" $length }}
        {{- end }}
      </div>
      <div class="terms-tags">
        {{ range $key, $value := $terms -}}
          <a class="terms-link" href="{{ $name | relLangURL }}/{{ $value.Term | urlize }}{{ if $.Site.Params.uglyURLs }}.html{{else}}/{{ end }}">
            {{ $value.Term }}
            <span class="terms-count">{{ len $value.Pages }}</span>
          </a>
        {{ end -}}
      </div>
    </div>
  {{- else if eq $name "tags" -}}
    <div class="terms">
      <div class="terms-title">
        {{ if eq $length 0 -}}
          {{ T "zeroTagCounter" }}
        {{- else -}}
          {{ T "tagCounter" $length }}
        {{- end }}
      </div>
      <div class="terms-tags">
        {{- range $key, $value := $terms }}
          <a class="terms-link" href="{{ $name | relLangURL }}/{{ $value.Term | urlize }}{{ if $.Site.Params.uglyURLs }}.html{{else}}/{{ end }}">
            {{ $value.Term }}
            <span class="terms-count">{{ len $value.Pages }}</span>
          </a>
        {{ end -}}
      </div>
    </div>
  {{- else if eq $name "series" -}}
          <span class="archive-post-time">
            * Date noted is most recent post
          </span>
    {{- $paginator := .Paginate .Data.Pages.ByDate.Reverse .Site.Params.archivePaginate -}}
    <section id="archive" class="archive">
    {{ if not $paginator.HasPrev -}}
      <div class="archive-title category">
        <h2 class="archive-name">{{ .Title }}</h2>
      </div>
    {{- end }}
      {{ range $paginator.Pages -}}
        <div class="archive-post">
          <span class="archive-post-time">
            {{ .Date.Format (.Site.Params.dateFormatToUse | default "2006-01-02") }}
          </span>
          <span class="archive-post-title">
            <a href="{{ .RelPermalink }}" class="archive-post-link">
              {{ .Title }}
            </a>
          </span>
        </div>
      {{- end }}
    </section>
  {{- end }}
{{- end }}
