<header id="header" class="header">
  <div class="logo-wrapper">
    <a href="/" class="logo">Logs On Tap</a>
  </div>
  <nav class="navbar-wrapper">
    <ul id="navbar" class="navbar">
      <li class="nav-item">
        <a href="/" class="nav-link">Home</a>
      </li>
      <li class="nav-item">
        <a href="{{- `/notebooks/` | relLangURL -}}" class="nav-link">Notebooks</a>
      </li>
      <li class="nav-item">
        <a href="{{- `/series/` | relLangURL -}}" class="nav-link">Series</a>
      </li>
      <li class="nav-item">
        <a href="{{- `/tags/` | relLangURL -}}" class="nav-link">Tags</a>
      </li>
      <li class="nav-item">
        <a href="{{- `/about/` | relLangURL -}}" class="nav-link">About</a>
      </li>
    </ul>
  </nav>
</header>
