.markdown-parse {
  p {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 1.6rem;
  }

  pre {
    display: block;
    overflow: auto;
    padding: 12px 10px;
    margin: 8px 0;
    word-wrap: normal;
    white-space: pre;
    border-radius: 3px;
    border: 1px solid #eee;
    tab-size: 4;
  }

  h1, h2 {
    padding-bottom: .3em;
    border-bottom: 1px solid #eee;
  }

  h1, h2, h3, h4, h4, h5, h6 {
    color: #303033;
    margin-top: 2.4px;
    margin-bottom: 20px;
  }

  blockquote {
    position: relative;
    font-style: italic;
    font-size: 1.8rem;
    line-height: 1.4rem;
    &:before {
        content: '\201C';
        position: absolute;
        top: 1.8rem;
        left: -1.4rem;
        color: darken(#eee, 7%);
        font-size: 6em;
        z-index: -1;
     }
  }

  h1 {
    font-size: 2.6rem;
  }

  h2 {
    font-size: 2.4rem;
  }

  h3 {
    font-size: 2.2rem;
  }

  h4 {
    font-size: 2.0rem;
  }

  h5 {
    font-size: 1.8rem;
  }

  h6 {
    font-size: 1.6rem;
  }

  pre>code {
    font-size: 1.4rem;
    color: #d14;
    font-family: 'Fira Code',Menlo,Consolas,liberation mono,monospace;
    font-weight: 500;
    color: inherit;
    background-color: inherit;
    padding: 0;
    border: 0;
    border-radius: 0;
  }

  code, kbd, samp {
    font-family: 'Fira Code',Menlo,Consolas,liberation mono,monospace;
    font-weight: 500;
    display: inline;
    font-size: 1.4rem;
    padding: 2px 4px;
    border-radius: 3px;
    color: #d14;
    background-color: rgba(221,17,68,0.05);
  }

  mark {
    background-color: rgba(12,242,143,.2);
    color: currentColor;
  }

  a {
    color: #007aff;
  }

  hr {
    border-top: 1px dashed #eee;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
  }

  ol, ul {
    font-size: 1.6rem;
  }

  table {
    display: block;
    width: 100%;
    overflow: auto;
    border-spacing: 0;
    border-collapse: collapse;
    font-size: 1.6rem;

    th {
      color: #303033;
      font-weight: 600;
    }

    tr {
      border: 0;
    }

    th, td {
      min-width: 120px;
      padding: 6px 13px;
      border: 1px solid #eee;
    }
  }
}

